
.avis {
    float: left;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 10px 0 10px 0;
   /* border-bottom: 1px solid #c0c0c0;*/
}


div.s_avis div.img {
    display: table-cell;
    float: left;
    width: 68px
}

div.avis_date {
    display: table-cell;
    float: left;
    width: 130px;
    padding-bottom: 5px
}

div.avis_contenu p.avis_date {
    margin: 00;
    padding: 0px;
    color: #666;
    font-size: 0.8em;
}

p.auteur {
    margin: 0px;
    padding: 0px;
    font-size: 0.8em;
    color: #0549A3
}

div.avis_contenu p.what {
    margin: 5px 0 5px 0;
    padding: 0px;
}